@using Factory.Models;

@{
  Layout = "_Layout";
}

<h1>Dr. Sneuss' Factory</h1>

     @foreach (Engineer engineer in ViewBag.Engineers)
        {
          <li>@engineer.EngineerName</li>
        }
      @foreach (Machine machine in ViewBag.Machines)
        {
          <li>@machine.MachineName</li>
        }

